<div class="errors"></div>
<%= simple_form_for(resource_name, :url => session_path(resource_name), remote: true) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>
  <%= link_to "Forgot your password?", new_password_path(:user) %>
</div>
<div class="modal-footer">
  <%= f.submit 'Sign in', class: "btn btn-primary" %>
<% end %>